
# jupyter checkpoints
.ipynb_checkpoints/
**/.ipynb_checkpoints/

# macOS
.DS_Store

# local python environment
.venv/

# python bytecode cache
__pycache__/

# trained model checkpoints
exercises/task5/ex_05_transformers/model/
